body{
    width:100%;
    height:100%;
  }
  header{
    margin: 0;
    padding: 0;
    border: 0;
  }
  
  h1{
    color:  cadetblue;
    text-align: center;
  }
  
  nav ul{
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: center;

  }
  
  nav li{
    display: inline;
    margin-right: 30px;
    
  }
  
  nav a{
    text-decoration: none;
    color: cadetblue;
  }
  
  h2{
    color: cadetblue;
  }
  
  p{
    text-align: left;
  }
  
  #husky{
    background-color: rgba(205, 201, 201, 0.663);
  }
  
  #beagle{
    background-color: rgba(205, 201, 201, 0.663);
  }
  
  #golden{
    background-color: rgba(205, 201, 201, 0.663);
  }
  
  #border{
    background-color: rgba(205, 201, 201, 0.663);
  }
  
  #samoyedo{
    background-color: rgba(205, 201, 201, 0.663);
  }
  
  #imagen1{
    display: block;
    margin: auto;
    width: 50%;
    height: 50%;
    
  }
  
  #imagen2{
    display: block;
    margin: auto;
    width: 50%;
    height: 50%;
    
  }
  
  #imagen3{
    display: block;
    margin: auto;
    width: 50%;
    height: 50%;
    
  }
  
  #imagen4{
    display: block;
    margin: auto;
    width: 50%;
    height: 50%;
    
  }
  
  #imagen5{
    display: block;
    margin: auto;
    width: 50%;
    height: 50%;
    
  }
  
  a[href="https://es.wikipedia.org/wiki/Husky_siberiano"]{
    color: blue;
    font-style: italic;
    font-size: large;
    }
  
  a[href="https://es.wikipedia.org/wiki/Beagle"]{
    color: blue;
    font-style: italic;
    font-size: large;
    }
  
  a[href="https://es.wikipedia.org/wiki/Golden_retriever"]{
    color: blue;
    font-style: italic;
    font-size: large;
    }
  
  a[href="https://es.wikipedia.org/wiki/Border_collie"]{
    color: blue;
    font-style: italic;
    font-size: large;
    }  
  
  a[href="https://es.wikipedia.org/wiki/Samoyedo"]{
    color: blue;
    font-style: italic;
    font-size: large;
    }  